/* Work Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background: #FFF;
    padding: 50px 240px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    margin-left: 10px;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
}

.img-logo {
    width: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
}

nav li a {
    text-decoration: none;
}

/* Section one banner*/
.section-one {
    background: #FFF;
    padding: 50px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.img-one {
    width: 600px;
}

.title-one {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.goat {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
}

.list-one {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

.btn-one {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0px;
}

.btn-two {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0px;
}

/* Section Two */
.section-two {
    text-align: center;
}

.title-two {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px;
}

.span-one {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
}

.p-two {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 0px;
}

/* section two cards */
/* styles.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 100px
}

.card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.card img {
    max-width: 100%;
}

.card {
    position: relative;
}

.card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50%
}

.play-button:hover {
    background-color: #0056b3;
}

.play-button {
    background-color: palevioletred;
}